workflows/LdGv0NGZAOOLoCtz.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Postgres Lookup",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres Create",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Create": {
      "main": [
        [
          {
            "node": "Set Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Create": {
      "main": [
        [
          {
            "node": "Set Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Lookup": {
      "main": [
        [
          {
            "node": "Set Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Response": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Response": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-18T00:06:31.966Z",
  "id": "LdGv0NGZAOOLoCtz",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Tenant Management Webhook",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "705c9a9b-c91e-44b2-8273-b98cf7e0548c",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2208,
        720
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tenant",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        800,
        448
      ],
      "id": "fe68d2bd-def7-4c60-8f88-53c23b3366bc",
      "name": "Webhook",
      "webhookId": "4289d04c-6e73-4c72-9e9c-85c6ea5b195c",
      "credentials": {
        "httpHeaderAuth": {
          "id": "uvgqyRI1ddaWVLOw",
          "name": "Jules Pipecat"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "tenants",
          "mode": "list",
          "cachedResultName": "tenants"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "phone_number",
              "value": "={{ $json.body.phone }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1e6e1b99-18b7-4eda-9b44-a2e830bebe49",
      "name": "Postgres Lookup",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1440,
        384
      ],
      "credentials": {
        "postgres": {
          "id": "u7j29OmyHuzkVDfZ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "tenants",
          "mode": "list",
          "cachedResultName": "tenants"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "name",
              "value": "={{ $json.body.name }}"
            },
            {
              "column": "phone_number",
              "value": "={{ $json.body.phone }}"
            },
            {
              "column": "email",
              "value": "={{ $json.body.email }}"
            },
            {
              "column": "unit_address",
              "value": "={{ $json.body.unit_address }}"
            }
          ]
        },
        "options": {}
      },
      "id": "191dab4a-7851-40bb-b447-632a0a844949",
      "name": "Postgres Create",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1440,
        544
      ],
      "credentials": {
        "postgres": {
          "id": "u7j29OmyHuzkVDfZ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "lookup_tenant",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-lookup"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "lookup_tenant"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "rule-create",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "create_tenant",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "create_tenant"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "rule-default-not-lookup",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "lookup_tenant",
                    "operator": {
                      "type": "string",
                      "operation": "notEqual"
                    }
                  },
                  {
                    "id": "rule-default-not-create",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "create_tenant",
                    "operator": {
                      "type": "string",
                      "operation": "notEqual"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "error"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        992,
        432
      ],
      "id": "00fbb8de-814d-4dc1-ad65-d49b7fb84af0",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d1e2f3g4-h5i6-47j8-9k0l-m1n2o3p4q5r6",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "s7t8u9v0-w1x2-43y4-5z6a-b7c8d9e0f1g2",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "h3i4j5k6-l7m8-49n0-1o2p-q3r4s5t6u7v8",
              "name": "phone_number",
              "value": "={{ $json.phone_number }}",
              "type": "string"
            },
            {
              "id": "w9x0y1z2-3a4b-45c6-7d8e-f9g0h1i2j3k4",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "l5m6n7o8-p9q0-41r2-3s4t-u5v6w7x8y9z0",
              "name": "unit_address",
              "value": "={{ $json.unit_address }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1648,
        544
      ],
      "id": "ec5e453f-f82c-4eb8-a551-c39196f79a66",
      "name": "Set Create"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "tenants",
          "mode": "list",
          "cachedResultName": "tenants"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "phone_number",
              "value": "=+14384541235"
            }
          ]
        },
        "options": {}
      },
      "id": "2d4ed2d3-9041-4585-93d2-66144e342ec3",
      "name": "Postgres Lookup1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1536,
        1136
      ],
      "credentials": {
        "postgres": {
          "id": "u7j29OmyHuzkVDfZ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ {\n  \"success\": true,\n  \"data\": JSON.stringify($json),\n  \"message\": \"Tenant operation completed\"\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1872,
        384
      ],
      "id": "15a8eaa0-2739-4aa6-b31c-e7676dfa496e",
      "name": "Set Response"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ {\"success\": false, \"error\": \"Invalid action specified\", \"received\": $json.body.action} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1456,
        768
      ],
      "id": "a3bdabaa-0da1-46c0-985f-2547a65dd345",
      "name": "Error Response"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2025-12-18T00:06:31.970Z",
      "createdAt": "2025-12-18T00:06:31.970Z",
      "role": "workflow:owner",
      "workflowId": "LdGv0NGZAOOLoCtz",
      "projectId": "K5c2PqoZjXPELHVa"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-30T03:14:49.000Z",
  "versionId": "e9fab740-6b0f-409f-92f2-5406f747196c"
}