workflows/pTBUxM13cFvELeGb.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Format Tenant Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Tenant Info": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-02T20:05:07.674Z",
  "id": "pTBUxM13cFvELeGb",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Rental income 682276 NB INC",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 5 9 2 * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -144,
        0
      ],
      "id": "cd97d4a4-aa72-4cc3-b0cc-e2dbac4d31fc",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 20,
        "filters": {
          "q": "subject:(Interac e-Transfer) OR subject:(Interac e Transfer) after:2025/08/01 before:2025/09/01"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "29e82b33-679a-4f57-b80e-c25fbb3aa1d7",
      "name": "Get many messages",
      "webhookId": "e5c5f5f0-d580-4372-9166-883715e4e4a4",
      "credentials": {
        "gmailOAuth2": {
          "id": "ZUZLdJUCU7wpTjw3",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "=Extract the following information from this Interac e-Transfer email snippet. Return your answer in JSON format like this:\n{\n  \"matched_name\": \"...\",\n  \"email\": \"...\",\n  \"amount_paid\": \"...\"\n}\n\nHere is the email snippet:\n{{ $json[\"snippet\"] }}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        416,
        0
      ],
      "id": "f8473224-61d8-4a2e-a86d-51308f95174a",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "vofRqqG7VEHTXxTs",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        176,
        0
      ],
      "id": "129e1bd2-11cf-43c6-886c-ca4cf17a08f9",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "18c371ca-6cba-4abb-9c33-f396bd19c8f6",
              "name": "name",
              "value": "={{$json[\"matched_name\"]}}",
              "type": "string"
            },
            {
              "id": "02ab1725-43ed-46d1-9ef0-c0839b768638",
              "name": "email",
              "value": "={{$json[\"email\"]}}",
              "type": "string"
            },
            {
              "id": "a84dc837-fb7b-46e0-9610-dac758c3e881",
              "name": "amount_paid",
              "value": "={{$json[\"amount_paid\"]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        0
      ],
      "id": "e1f3cac9-3ac7-4217-91d8-31f23af8b67c",
      "name": "Format Tenant Info"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ksdpF_lzQEffdaqQsGrxvyDNOMuIql3Jsu4Z9owCQec",
          "mode": "list",
          "cachedResultName": "Rental income - Automated - 682276 NB INC",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ksdpF_lzQEffdaqQsGrxvyDNOMuIql3Jsu4Z9owCQec/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "September 2025",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ksdpF_lzQEffdaqQsGrxvyDNOMuIql3Jsu4Z9owCQec/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "Tenant name"
          ],
          "schema": [
            {
              "id": "Building",
              "displayName": "Building",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Unit",
              "displayName": "Unit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tenant name",
              "displayName": "Tenant name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email address",
              "displayName": "Email address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rent",
              "displayName": "Rent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "amount_paid",
              "displayName": "amount_paid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        976,
        0
      ],
      "id": "79076c32-3dbd-4cfb-84f7-81e68ff15b5d",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lKflw0vM8OPLHwhd",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const subject = $json.subject || \"\";\n\nconst amountMatch = subject.match(/\\$([\\d,]+\\.\\d{2})/);\nconst nameMatch = subject.match(/from (.*?) and/i);\nconst date = new Date(Number($json.internalDate)).toISOString().split(\"T\")[0];\n\nreturn [\n  {\n    json: {\n      matched_name: nameMatch ? nameMatch[1].trim() : \"Unknown\",\n      email: \"Unknown\",\n      amount_paid: amountMatch ? amountMatch[1].replace(\",\", \"\") : \"Unknown\",\n      date_received: date\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        144
      ],
      "id": "84ad04a7-79bd-4f6c-8112-a40ccb99f68a",
      "name": "Code"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-08-02T20:05:07.677Z",
      "createdAt": "2025-08-02T20:05:07.677Z",
      "role": "workflow:owner",
      "workflowId": "pTBUxM13cFvELeGb",
      "projectId": "K5c2PqoZjXPELHVa"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-08-29T13:40:00.000Z",
  "versionId": "92002403-1b24-410e-8824-ca80935d12d4"
}